

#valeur{
    height:25rem;
    width: 25rem;
    background-color: rgb(22, 171, 201);
    color: black;
    font-size: xx-large;
}

body{
    display: flex;
    flex-wrap: wrap;
    
}

#but1,  
#but2 {
    height: 10rem;
    width: 10rem;
    margin-top: 15rem;
    
}

#but1{
    margin-right: -5rem;
    z-index: 10;
    
}

#but2{
    margin-left: -5rem;
}

